/* Base styles */

:root {
  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;

  --accent-color: #0777d0;
  --accent-secondary-color: #ffcd00;
  --main-text-color: #757575;
  --title-text-color: #06237c;
  --dark-color: #000000;
  --light-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);

  --team-bg: rgba(254, 213, 1, 0.25);
  --footer-bg: #2f303a;
  --hero-bg: #c4c4c4;
  --hero-overlay: rgba(47, 48, 58, 0.4);

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Global reset of styles by tag selector */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Common styles */

body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--light-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rules for visually-hidden elements */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Styles for Studio page  */
/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  display: block;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-secondary-color);

  transform: scale(1);
  transition: transform var(--duration) var(--timing-function);
}

.logo__accent {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  transform: scale(1.15);
}

/* Navigation */
.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color var(--duration) var(--timing-function);
}

.nav-list__link--current {
  color: var(--accent-color);
}

/* Underlining the link of the current page */
.nav-list__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-secondary-color);
  opacity: 0;

  transition: opacity var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.nav-list__link--current::after {
  opacity: 1;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link:active {
  color: var(--accent-secondary-color);
}

/* Contacts in header */
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 40px;
}

.contacts-list__link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;

  transition: color var(--duration) var(--timing-function);
}

.contacts-list__icon--mail,
.contacts-list__icon--tel {
  margin-right: 10px;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__link:active {
  color: var(--accent-secondary-color);
}

/* Section Hero */

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-color: var(--footer-bg);
  background-image: linear-gradient(to top, var(--hero-overlay), var(--hero-overlay)),
    url('../images/hero/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section__wrap {
  width: 696px;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-section__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--accent-secondary-color);

  text-align: center;
  text-transform: uppercase;
}

/* Button styles */

.button {
  display: inline-flex;
  justify-content: center;
  min-width: 200px;
  padding: 10px 24px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-secondary-color);
  text-align: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  transform: scale(1);
  transition: transform var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--accent-secondary-color);
  transform: scale(1.05);
}

/* Section Feature */
.feature-section {
  padding-bottom: 0;
}

.feature-section__list {
  display: flex;
  flex-wrap: wrap;
}

.feature-section__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-section__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.feature-section__icon--wrap {
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--team-bg);
  border-radius: 4px;
}

.feature-section__title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color);
}

.feature-section__desc {
  line-height: 1.71;
}

/* Section Our works */

.work-section__list {
  flex-wrap: wrap;
}

.work-section__item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-section__item:not(:last-child) {
  margin-right: 30px;
}

.work-section__wrap {
  position: relative;

  border-radius: 4px;
  overflow: hidden;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.work-section__desc {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-secondary-color);
  background-color: rgb(0 0 0 / 50%);
}

/* Section Our team */

.team-section {
  background-color: var(--team-bg);
}

.team-section___list {
  flex-wrap: wrap;
}

.team-section___item {
  flex-basis: calc((100% - 90px) / 4);

  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section___item:not(:last-child) {
  margin-right: 30px;
}

.team-section___desc {
  padding: 30px 0;

  text-align: center;
}

.team-section___caption {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.team-section___position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
}

/* Styles for the social links */

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;

  background-color: transparent;
  border-radius: 50%;

  transition: background-color var(--duration) var(--timing-function);
}

.social-list__icon,
.client-list__icon {
  color: #afb1b8;
  transition: color var(--duration) var(--timing-function);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  color: var(--accent-secondary-color);
}

/* Section Our Clients */

.clients-list > .client-item {
  flex-basis: calc((100% - 150px) / 6);
  text-align: center;
}

.clients-list > .client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border var(--duration) var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-secondary-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  color: var(--accent-color);
}

/* Footer */

.footer {
  padding: 60px 0;

  background-color: var(--footer-bg);
}

.footer > .flex {
  justify-content: space-between;
  align-items: baseline;
}

.address {
  margin-top: 28px;
}

.address-item:not(:last-child) {
  margin-bottom: 12px;
}

.link-map {
  line-height: 1.7;
  color: var(--light-color);
  transition: color var(--duration) var(--timing-function);
}

.link-mail,
.link-tel {
  line-height: 1.7;
  color: var(--footer-link-color);
  transition: color var(--duration) var(--timing-function);
}

.link-map:hover,
.link-map:focus,
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
}

.link-map:active,
.link-mail:active,
.link-tel:active {
  color: var(--accent-secondary-color);
}

.footer-title {
  display: block;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

/* Social links in the footer */
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}

/* Subscribe in the footer */
.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}

.footer-input::placeholder,
.footer-input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:placeholder-shown {
  border-color: rgba(255, 255, 255, 0.3);
}

/* Button Submit in the footer */
.button-submit {
  position: relative;

  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.icon-btn-send {
  margin-left: 10px;
  color: var(--accent-secondary-color);

  transition: transform var(--duration) var(--timing-function);
}

.icon-btn-wink {
  position: absolute;
  top: 50%;
  right: 28px;

  transform: translate(45px, calc(-50% - 40px));

  transition: transform var(--duration) var(--timing-function);
}

.button-submit:hover .icon-btn-send,
.button-submit:focus .icon-btn-send {
  transform: translate(45px, -45px);
}

.button-submit:hover .icon-btn-wink,
.button-submit:focus .icon-btn-wink {
  transform: translateY(-50%);
}

/* Styles for Portfolio page */

/* Section Examples */
/* Radio-button list */
.button-list {
  margin-bottom: 50px;
}

.button-list > .item:not(:last-child) {
  margin-right: 8px;
}

.menu-button {
  display: block;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);

  background-color: var(--team-bg);
  box-shadow: none;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.menu-button:hover,
.menu-button:focus {
  color: var(--accent-secondary-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Gallery */
.examples-list {
  flex-wrap: wrap;
}

.example-item {
  flex-basis: calc((100% - 60px) / 3);
}

.example-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.example-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.example-link:hover .thumb,
.example-link:focus .thumb {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  border-radius: 4px;

  overflow: hidden;
  background: var(--light-color);
  box-shadow: none;

  transition: box-shadow var(--duration) var(--timing-function);
}

/* The div thumb-overlay for text overlay on the cards */
.thumb-overlay {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

/* The text overlay on the cards appears on hover */
.overlay-text-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay-text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.6;
  color: var(--light-color);

  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);

  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
}

.example-link:hover .overlay-text,
.example-link:focus .overlay-text {
  transform: translateY(0);
  opacity: 1;
}

.thumb-caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.example-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.example-caption {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ffcc0071;

  opacity: 1;
  visibility: visible;

  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;

  transition: transform var(--duration) var(--timing-function);
}
/* Modal close button */
.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transform: rotate(0);
  transition: border var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  transform: rotate(90deg);
  border: 1px solid var(--accent-secondary-color);
}

.btn-close-modal .icon-close {
  fill: currentColor;
  transition: color var(--duration) var(--timing-function);
}

.btn-close-modal:hover .icon-close,
.btn-close-modal:focus .icon-close {
  color: var(--accent-color);
}

/* A form's subscribe */

.order-form {
  max-width: 448px;
  text-align: center;
}

.form-title {
  display: block;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

/* A label as a main container */
.form-field {
  position: relative;

  display: block;
  margin-bottom: 26px;
}

/* An Input */
.form-input {
  width: 100%;
  padding: 11px 12px 11px 40px;
}

/* Common styles for input and textarea */
.form-input,
.form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  color: var(--main-text-color);
  font-size: 16px;

  transition: outline var(--duration) var(--timing-function);
}

/* A span as a label */
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  transition: transform var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

/* An icon in input */
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: color var(--duration) var(--timing-function);
}

/* A label for textarea */
.form-label-comment {
  position: absolute;
  top: 12px;
  left: 12px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  transition: color var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function);
}

/* A textarea */
.form-comment {
  width: 100%;
  min-height: 120px;
  padding: 12px 12px;

  resize: none;
}

/* An input checkbox */
.form-field.check {
  margin-bottom: 30px;
}

/* The input is hidden via extra class visually-hidden*/
/* Making a custom checkbox */
.check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: transform var(--duration) var(--timing-function);
}

.form-checkbox:checked + .check-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/icons/icons-form/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;

  transform: scale(1.2);
}

/* A span for conditions text */
.form-label-check {
  margin-left: 8px;

  line-height: 1.7;
}

.link-conditions {
  border-bottom: 1px solid var(--accent-secondary-color);
  color: var(--accent-color);
}

/* States of elements in focus */
.form-field:focus-within > .form-icon {
  color: var(--accent-secondary-color);
}

.form-field:focus-within > .form-input,
.form-field:focus-within > .form-comment {
  outline: 1px solid var(--accent-secondary-color);
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translate(-28px, -40px);
}

.form-comment:not(:placeholder-shown) + .form-label-comment,
.form-field:focus-within > .form-label-comment {
  color: var(--accent-color);
  transform: translateY(-32px);
}
