:root {
  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;

  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --dark-color: #000000;
  --light-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hero-bg: #2f303a;
  --team-bg: #f5f4fa;
  --footer-bg: #2f303a;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.logo {
  font-family: var(--logo-font);
}
