/* Button styles */

.button {
  @extend %button;

  transform: scale(1);
  transition: transform $duration $timing-function, color $duration $timing-function,
    background-color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $accent-secondary-color;
    transform: scale(1.05);
  }
}
