/* Contacts in header */
.contacts-list {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
  }
}

.contacts-list__item:not(:last-child) {
  @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 40px;
  }
}

.contacts-list__link {
  @include flex(inline-flex, flex-start);
  @include fontsProperties($fw: 500, $ls: 0.02em, $lh: 1.14);

  color: currentColor;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $accent-secondary-color;
  }
}

.contacts-list__icon--mail,
.contacts-list__icon--tel {
  margin-right: 10px;
}
