/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: $backdrop-bg;

  opacity: 1;
  visibility: visible;
  overflow-y: scroll;

  transition: opacity $duration $timing-function, visibility $duration $timing-function;

  @media screen and (max-width: calc($tablet - 1px)) {
    padding: 93px 15px;
  }
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal--is-hidden {
  @media screen and (min-width: calc($tablet - 1px)) {
    transform: scale(0);
  }

  @media screen and (min-width: $tablet) {
    transform: translateX(-50%) scale(0);
  }
}

.modal {
  position: relative;

  padding: 40px;
  border-radius: 4px;
  background-color: $light-color;

  transition: transform $duration $timing-function;

  @media screen and (max-width: calc($tablet - 1px)) {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 150px;
    left: 50%;

    min-width: 450px;
    min-height: 609px;

    transform: translateX(-50%) scale(1);
  }

  @media screen and (min-width: $desktop) {
    top: 50%;

    min-width: 528px;
    min-height: 581px;

    transform: translate(-50%, -50%) scale(1);
  }
}

/* Modal close button */
.btn-close {
  @include flex();

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transform: rotate(0);
  transition: border $duration $timing-function, transform $duration $timing-function;

  &:hover,
  &:focus {
    transform: rotate(90deg);
    border: 1px solid $accent-secondary-color;
  }
}

.btn-close__icon {
  fill: currentColor;
  transition: color $duration $timing-function;

  .btn-close:hover &,
  .btn-close:focus & {
    color: $accent-color;
  }
}
