/* Common styles */
body {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $main-text-color;
  background-color: $light-color;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desctop) {
    width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 50px;

  color: $title-text-color;
  text-align: center;

  @include fontsProperties(36px, 700);
}

.icon {
  fill: currentColor;
}
