/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 30px;

  background-color: $footer-bg;
  text-align: center;
}

.footer--flex {
  @media screen and (min-width: $desktop) {
    @include flex(flex, space-between, baseline);
  }
}

.footer__pos {
  margin-bottom: 60px;
}

.footer__title {
  display: block;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;

  color: $light-color;
}

.footer__copy {
  padding-top: 20px;

  line-height: 1.7;
  color: $footer-link-color;
  text-align: center;
  border-top: 1px solid $header-bb;
}
