/* Header */

.header {
  display: flex;
  min-height: 60px;
  border-bottom: 1px solid $header-bb;

  & > .container {
    @include flex($jc: space-between);

    @media screen and (min-width: $desktop) {
      @include flex();
    }
  }
}
